<div class="signup" id="foo" style="display: none;">
  <p>Sign up in seconds to unlock Wordo's social features <img src="http://emojipedia-us.s3.amazonaws.com/cache/30/d9/30d971e1adbfe41545dbf46d3029acf8.png" width="25"></p>
  <button class="socialbutton" style="background: #3b5998;" ng-click="login()">Login with Facebook</button>
  <div class="socialbutton" style="background: #00aced;">Login with Twitter</div>
  <div class="x">
    <a href=" " ng-click="dismissModal('close..')">✕</a>
  </div>
</div>
