/* CSS Document */



#classroom #classroom_terms {
	
	
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#classroom .quiz_answer {
    
}