<div id="video_controls">
	<div id="progress_bar_container" >
            <div id="progress_bar" >
                <div id="progress_bar_inner" >
                    
                </div>
                <div  id="progress_bar_inner_slider" class="pointer">
                    
                </div>
                
                
                
            </div>
        </div>
        <div id="player_bottom_buttons">
            <div id="video_info_bar" >
                 <div id="play_button_container" class="button" >
                  
                     <img  class="hover_image" id="play" data-status="pause" data-inactive-state = "images/video_player/play-inactive.png" data-active-state="images/video_player/play-active.png" src="images/video_player/play-inactive.png" alt="play button" />                    
                </div>
                <div id="pause_button_container" class="button display_none" >
                  
                     <img  class="hover_image" id="pause" data-status="pause" data-inactive-state = "images/video_player/pause-inactive.png" data-active-state="images/video_player/pause-active.png" src="images/video_player/pause-inactive.png" alt="pause button" />                    
                </div>
                 <div id="volume_button_container" class="button">
                   
                      <img class="hover_image" id="cc_button" data-inactive-state = "images/video_player/volume_button_inactive.png" data-active-state="images/video_player/volume_button_active.png"  src="images/video_player/volume_button_inactive.png" alt="cc"  />
                    
                </div>
                  <div id="volume_bar" >
                    <div id="volume_bar_click_area" class="rounded_corners_15" >
                        <div id="volume_bar_inner" class="button ">
                    
                        </div>
                    </div>
                </div>
                <div id="time_progress" >
                    <span id="current_time"></span>
                     / 
                    <span id="total_time"></span>
                </div>
               
                
                
                
                 <div id="cc_button_container" class="button">
                    <img class="hover_image" id="cc_button" data-inactive-state = "images/video_player/cc_inactive.png" data-active-state="images/video_player/cc_active.png"  src="images/video_player/cc_inactive.png" alt="cc"  />
                    
                </div>
               
                 <div id="fullscreen_button_container" class="button">
                    
                      <img class="hover_image" id="fullscreen_button" data-inactive-state = "images/video_player/Go_Fullscreen_inactive.png" data-active-state="images/video_player/Go_Fullscreen_active.png"  src="images/video_player/Go_Fullscreen_inactive.png" alt="fullscreen button"  />
                </div>
                
                               
            </div>
            <div class="clear"></div>
       </div> 
      
</div>