<div id="classroom">
	<div id="video_board_container">
	</div>
    <div id="classroom_lesson" class="display_none">
       
        <div id="classroom_main">
            
            <div id="classroom_middle_column" class="middle_column">
                
                <div id="question_container" class="comic_sans_font ">
                </div>
            </div>
            <div id="classroom_right_column" class="right_column right_column_background">
                <div class="right_column_inner">
                    <div id="quiz_best_grades_container">
                    </div>
                    <div id="classroom_marking" class="">
                        <!---<img id="classroom_marking_image" src="images/classroom/marking_image.png" class="paper_pencil_image" />-->
                        <div id="marking_results">
                        
                        </div>
                    </div>            
                    <div id="classroom_terms" class="">
                        
                    </div>
                    <div class="clear"></div>
                    
                    
                    <!--<div id="restart_arrow_button" class="button footer_button display_inline">
                        <img  class="hover_image" data-inactive-state = "images/classroom/repeat_button_inactive.png" data-active-state="images/classroom/repeat_button_active.png" src="images/classroom/repeat_button_inactive.png" alt="restart question arrow image" />
                    </div>-->
                    <div class="right_column_bottom">
                        <div id="classroom_timer" class="display_inline">                 		<img  class="hover_image" id="timer" data-inactive-state = "images/classroom/timer_face-inactive.png" data-active-state="images/classroom/timer_face-active.png" src="images/classroom/timer_face-inactive.png" alt="eye image" />
                        </div>                     
                        <div class="clear"></div>
                    
                        <div id="view_video_button" class="button footer_button ">
                            <img  class="hover_image" data-inactive-state = "images/classroom/presentation_button_inactive.png" data-active-state="images/classroom/presentation_button_active.png" src="images/classroom/presentation_button_inactive.png" alt="eye image" />
                        </div>
                        
                        <div class="clear"></div>
                          <div id="autoguide_button" class="button footer_button float_left">
                            <img class="hover_image" data-inactive-state = "images/video_board/autoguide_button_inactive.png" data-active-state="images/video_board/autoguide_button_active.png" src="images/video_board/autoguide_button_inactive.png" alt="autoguide button" />
                        </div>
                        <div id="quiz_stop_quiz_button" class="stop_quiz_button button footer_button float_right">
                            <img class="hover_image" data-inactive-state = "images/classroom/stop_button_inactive.png" data-active-state="images/classroom/stop_button_active.png" src="images/classroom/stop_button_inactive.png" alt="stop quiz image" />
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="clear"></div>
        <div id="classroom_footer">
           
           
            
            
        </div>
	</div>
</div>