<div id="languages">
 

	<ul>
        {{#languages}}    	
            <li><a href="#" data-langauge-code="{{lng_name_short}}" class="lanaguage_code">{{lng_name}}</a></li>
        {{/languages}}
    </ul>
</div>
<div id="login" class="forgot_password">

    <div id="login_form_container">
        <form method="post" id="forgot_password">
            <table>
            <tr>
            <td>
            
                <label>
                    {{lang.Registration.email1}}
                </label>
            </td>
            <td>
                <div id="textbox">
                    <input class="email_input" type="text" name="email" id="email"  />
                </div>
            </td>
            </tr>
            

            
             <td>
                <input class="fancy_button" id="forgot_password_cancel" type="button" value="{{lang.General.cancel}}">
            </td>
            <td>
                <input class="fancy_button"  type="submit" value="{{lang.LogIn.forgotPassword}}">
            </td>
            </tr>            
            </table>
        </form>
    </div>
</div>    